.wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr 1fr  1fr; 
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    column-gap: 0px;
    row-gap: 0px;
    border: 1px black
}

.box1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:darkseagreen;
    border: 1px solid black
}

.box2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:bisque;
    border: 1px solid black
}

.box3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:khaki;
    border: 1px solid black
}

.box4{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: khaki;
    border: 1px solid black
}

.box5{
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: red;
    border: 1px solid black
}

.box6{
    grid-column-start:7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: bisque;
    border: 1px solid black
}

.box6{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: bisque;
    border: 1px solid black
}

.box7{
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: black;
    border: 1px solid black
}

.box8{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: bisque;
    border: 1px solid black
}

.box9{
    grid-column-start:5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: blue;
    border: 1px solid black
}