.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 300px 300px;
  background-color: blue;
}
.box1 {
	background-color:#d5f0e0;
	border:1px solid black;
	grid-column-start: 2;
	grid-column-end: 4;
}
.box2 {
	background-color:#d5f0e0;
	border:1px solid black;
	grid-column-start: 3;
	grid-column-end: 5;
}
