
.wrapper {
	display: grid;
	grid-template-columns: minmax(200px, 3fr) 9fr;
	gap: 10px;
	background-color:blue;
}

.box {
	background-color:#d5f0e0;
	border:1px solid black;
	height: 100px;
}

.bigbox {
	background-color:#d5f0e0;
	border:1px solid black;
	height: 200px;
}

